Simple introduction to getting started with pandasql

In [2]:
# standard imports
from sklearn.datasets import load_iris
import pandas as pd
from pandasql import sqldf
import re

In [3]:
iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
iris_df.columns = [re.sub("[() ]", "", col) for col in iris_df.columns]
iris_df.head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm species
0            5.1           3.5            1.4           0.2  setosa
1            4.9           3.0            1.4           0.2  setosa
2            4.7           3.2            1.3           0.2  setosa
3            4.6           3.1            1.5           0.2  setosa
4            5.0           3.6            1.4           0.2  setosa

### Note:
Here 'q' is the query in triple quotes , the function used is sqldf which takes two arguments. <br>
1. The sql query
2. The namespace that has to be searched to find the table
The second argument is of use when your df is defined in a function . The best approach is to use 'globals()' to avoid any confusion.

In [4]:
q = """
    SELECT * FROM iris_df
    WHERE sepallengthcm > 5
    LIMIT 10
    """
df = sqldf(q, globals())
df.head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm species
0            5.1           3.5            1.4           0.2  setosa
1            5.4           3.9            1.7           0.4  setosa
2            5.4           3.7            1.5           0.2  setosa
3            5.8           4.0            1.2           0.2  setosa
4            5.7           4.4            1.5           0.4  setosa